[required_option]
cds_fasta = test.cds.fa
pep_fasta = test.pep.fa
group_info = test.groupinfo
output_dir = Results

[ML_option]
size_threshold = 10

[statistical_option]

[kaks_cal_option]
genetic_code = 1
method = MYN

[PRANK_option]
iteration = 5
sleep_time = 3

[program_path]
iqtree_path = iqtree
fasttree_path = fasttree 
prank_path = prank
kaks_path = KaKs_Calculator
perl = perl
R = Rscript

[Result]
result_filename = duphist_result.table
result_dendrogram_dir = duphist_result.nwk
temp_path = temp_files

[Thread]
thread_num = 10
